
/* Estilos del header y el main menu */
header {
  padding: 20px;
  margin-bottom: 30px; /* Margen inferior de 30 píxeles */
}

header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px; /* Ajusta el margen derecho entre los elementos del menú */
}

nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

nav ul li a {
  text-decoration: none;
}
.elemento {
  margin-top: 10px; /* Márgen superior de 10 píxeles */
  margin-bottom: 10px; /* Márgen inferior de 10 píxeles */
  margin-left: 30px; /* Márgen izquierdo de 30 píxeles */
  margin-right: 30px; /* Márgen derecho de 30 píxeles */
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}

.logo {
  text-align: right
}

.main-menu {
  text-align: right;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-menu li {
  display: inline-block;
}

.main-menu li a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  color: #f4ff7f;
  margin: 0 5px;
}

.main-menu li:not(:last-child) {
  border-right: 1px solid #f4ff7f; /* Agrega una línea divisoria entre secciones */
}

.main-menu li a:hover {
  color: #000000;
}

/* Estilos generales del body */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-top: 30px; /* Márgen superior de 10 píxeles */
  margin-bottom: 30px; /* Márgen inferior de 10 píxeles */
  margin-left: 80px; /* Márgen izquierdo de 30 píxeles */
  margin-right: 80px; /* Márgen derecho de 30 píxeles */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 20px
}

h1 {
  font-size: 36px;
  color: #f4ff7f;
  margin-bottom: 20px
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

/* Estilos de imágenes con hover */
.img-hover {
  transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
  transform: scale(1.1);
}

/* Estilos para la clase .category */
.category {
  position: relative;
}

.category img {
  transition: all 0.3s ease-in-out;
}

.category img:hover {
  transform: scale(1.1);
}

/* Media queries para hacer la página responsiva */
@media only screen and (min-width: 768px) {
  body {
    background-size: cover;
  }

  img {
    float: right;
    width: 100%;
    margin-left: 20px;
  }

  p {
    margin-right: 50%;
    text-align: justify;
  }

  form {
    margin-right: 50%;
  }
}

@media only screen and (max-width: 767px) {
  img {
    width: 100%;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
  }

  form {
    margin-left: 20px;
  }
}

/* Clip-path animación */
.clip-animation { 
  clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%)}

.clip-animation { 
  animation: clip 1s infinite
}

@keyframes clip {
  0% {
    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
  }
  50% {
    clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
  }
   100% {
    clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
  }
}
 
.button {
  /* ...otros estilos... */
  text-decoration: none;
  color: inherit;
}

.button {
  text-align: center;
  padding: 6px 0px;
  font-size: 16px;  border: none; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none; 
  background-color: #f4ff7f;
  padding: 0.5em 0.75em;
  transition: background-color 0.5s ease-out;
  max-width: 200px; /* Establece el ancho máximo según tu preferencia */
}

.button:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}


.thumbnail-img {
  width: 100%; /* El ancho se ajustará al contenedor */
  max-width: 600px; /* Ancho máximo de 600 píxeles */
  height: auto;
  display: block;
  margin: 0 auto;
  float: centre;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Animación svg */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}

.animated-path {
  animation-name: draw;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  stroke: #f4ff7f;
  stroke-width: 8;
  fill: none;
}