body {
  background-color: #c0ab81;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% de la altura de la ventana */
}


img {
  margin-top: 30px; /* Margen superior de 30px */
  margin-bottom: 30px; /* Margen inferior de 30px */
}

.main-menu {
  list-style: none;
  display: flex;
}

.main-menu li {
  margin-right: 10px;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu li a {
  text-decoration: none;
  color: #f4ff7f;
  padding: 5px 10px;
  border-radius: 5px;
}

.main-menu li a:hover {
  background-color: #c0ab81;
  color: #000000;
}

.logo img {
  width: 300px; /* Establece un ancho fijo de 300px para el logo del header */
}

.footer {
  width: 100%;
  background-color: #f4ff7f;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Hace que el footer se ajuste automáticamente en la parte inferior */
}

.animated-content {
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes bounceIn {
  0% {
      transform: scale(0.1);
      opacity: 0;
  }
  60% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}


/* Estilos del header y el main menu */
header {
  padding: 20px;
  margin-bottom: 30px; /* Margen inferior de 30 píxeles */
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px; /* Ajusta el margen derecho entre los elementos del menú */
}

nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

nav ul li a {
  text-decoration: none;
}

.elemento {
  margin-top: 10px; /* Márgen superior de 10 píxeles */
  margin-bottom: 10px; /* Márgen inferior de 10 píxeles */
  margin-left: 30px; /* Márgen izquierdo de 30 píxeles */
  margin-right: 30px; /* Márgen derecho de 30 píxeles */
}

/* Estilos generales del body */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-top: 30px; /* Márgen superior de 10 píxeles */
  margin-bottom: 30px; /* Márgen inferior de 10 píxeles */
  margin-left: 80px; /* Márgen izquierdo de 30 píxeles */
  margin-right: 80px; /* Márgen derecho de 30 píxeles */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  color: #f4ff7f;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

/* Estilos de imágenes con hover */
.img-hover {
  transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
  transform: scale(1.1);
}

/* Estilos para la clase .category */
.category {
  position: relative;
}

.category img {
  transition: all 0.3s ease-in-out;
}

.category img:hover {
  transform: scale(1.1);
}

/* Media queries para hacer la página responsiva */
@media only screen and (min-width: 768px) {
  body {
    background-size: cover;
  }

  img {
    float: right;
    width: 100%;
    margin-left: 20px;
  }

  p {
    margin-right: 50%;
    text-align: justify;
  }

  form {
    margin-right: 50%;
  }
}

@media only screen and (max-width: 767px) {
  img {
    width: 100%;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
  }

  form {
    margin-left: 20px;
  }
}

/* Clip-path animación */
.clip-animation { 
  clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,83.2521597824483% 72.8827848989377%,77.65582645490747% 68.10699664979782%,68.25977173295665% 73.48735442147043%,69.74869615617752% 63.85068193432852%,60.62580936835517% 62.556174464809%,63.14516714002777% 54.41266419142937%,53.947257318064% 56.79227244075714%,56.16185606567184% 47.00682577024734%,47.75770747003649% 49.1869828122291%,47.560944825472616% 40.012054950132096%,40.0117061193985% 47.47149751523523%,33.60231768869575% 39.876903843974845%,32.38087810362781% 50.006746651968776%,27.111223552860143% 40.01479817387658%,20.429830151241407% 49.09575369368801%,19.77141382269469% 40.00825403050717%,12.123333333333333% 46.64508113391877%,12.123333333333333% 53.35491886608123%,19.77141382269469% 59.99174596949284%,20.429830151241407% 50.004246306312%,27.111223552860143% 59.98520182612342%,32.38087810362781% 49.993253348031224%,33.60231768869575% 59.873096156025154%,40.0117061193985% 52.42850248476476%,47.560944825472616% 59.9879450498679%,47.75770747003649% 50.8130171877709%,56.16185606567184% 52.99317422975266%,53.947257318064% 43.20772755924286%,63.14516714002777% 45.58733580857063%,60.62580936835517% 37.44382553519001%,69.74869615617752% 36.14931806567048%,68.25977173295665% 26.512645578528572%,77.65582645490747% 31.893003350201184%,83.2521597824483% 27.117215101061293%,82.33578363789503% 36.60607986722084%,91.0518476172854% 39.000190583141854%,84.70057014808336% 45.43158327229718%,100% 49.99999999999999%); 
  animation: clip-path-animation 10s infinite; 
}

@keyframes clip-path-animation { 
  0% { clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,83.2521597824483% 72.8827848989377%,77.65582645490747% 68.10699664979782%,68.25977173295665% 73.48735442147043%,69.74869615617752% 63.85068193432852%,60.62580936835517% 62.556174464809%,63.14516714002777% 54.41266419142937%,53.947257318064% 56.79227244075714%,56.16185606567184% 47.00682577024734%,47.75770747003649% 49.1869828122291%,47.560944825472616% 40.012054950132096%,40.0117061193985% 47.47149751523523%,33.60231768869575% 39.876903843974845%,32.38087810362781% 50.006746651968776%,27.111223552860143% 40.01479817387658%,20.429830151241407% 49.09575369368801%,19.77141382269469% 40.00825403050717%,12.123333333333333% 46.64508113391877%,12.123333333333333% 53.35491886608123%,19.77141382269469% 59.99174596949284%,20.429830151241407% 50.004246306312%,27.111223552860143% 59.98520182612342%,32.38087810362781% 49.993253348031224%,33.60231768869575% 59.873096156025154%,40.0117061193985% 52.42850248476476%,47.560944825472616% 59.9879450498679%,47.75770747003649% 50.8130171877709%,56.16185606567184% 52.99317422975266%,53.947257318064% 43.20772755924286%,63.14516714002777% 45.58733580857063%,60.62580936835517% 37.44382553519001%,69.74869615617752% 36.14931806567048%,68.25977173295665% 26.512645578528572%,77.65582645490747% 31.893003350201184%,83.2521597824483% 27.117215101061293%,82.33578363789503% 36.60607986722084%,91.0518476172854% 39.000190583141854%,84.70057014808336% 45.43158327229718%,100% 49.99999999999999%); 
}
}